html, body {
	padding:0;
	margin:0;
	height:100%;
	background-color: black;
}

nav, #nav ul {
	padding:0;
	margin:0;
	list-style: none;
	text-align: center;
}

#nav li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#nav li li {
	display:inherit;
}

#nav a {
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 150px;
	padding-right: 30px;
	padding-left: 30px;
	text-decoration: none;
	font-family: sans-serif;
}

nav ul li {
	text-align: center;
}

#nav ul {
	position: absolute;
	z-index: 1000;
	min-width: 100%;
	white-space: nowrap;
	text-align: left;
	width: 200px;
}

#nav span {
	font-size: 14px;
	color: grey;
	margin-top: 3px;
}

#test {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 40px;
	width: 200px;
	padding-top: 20px;
}

#nav ul ul {
	left: 100%;
	top: -1px;
	overflow: hidden;
	max-width: 0;
	min-width: 0;
}

#nav ul li:hover ul {
 	max-width: 30em;
}

#nav ul li {
	max-height: 0;
	overflow: hidden;
}

#nav li li li {
	max-height: inherit;
}

#nav li:hover li {
	max-height: 15em;
	overflow: visible;
}

.navsub:hover #ulborder {
    background: white;
    border: 1px solid grey;
    border-collapse: collapse;
    margin-top: 5px;
}

.navsub #ulborder li:hover {
	background-color: lightgrey;
}

.navsub #ulborder li:hover ul {
    background: white;
    border: 1px solid grey;
    border-collapse: collapse;
}

nav ul {
	background-color: green;
}

.violet {
	height: 40px;
}

.navsub {
	height: 40px;
}

.navsub li li {
	height: 40px;
}

.navsub li {
	height: 40px;
}

#borderd {
	border-right: 2px solid brown;
}

#borderg {
	border-left: 2px solid brown;
}