/*FOOTER*/

footer{
    display:flex;
    justify-items: stretch;
    justify-content: space-between;
    background-color: grey;

}

.plan_site{
    display: flex;
    justify-content: flex-start ;
    flex-direction:column;
    align-items: flex-start;
    padding:10px;
}

.sous_plan_site{
    display:flex;
    flex-direction: row;
}

.footer_accueil{
    display:flex;
    margin:10px;
    margin-left:0;
}

.footer_destinations{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:10px;
}

.footer_continent{
    display: flex;
    flex-direction:column;
}

.footer_guide{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:10px;
}

.footer_nom{
    display: flex;
    flex-direction: column;  
}

.copyright{
    display:flex;
    justify-content: flex-end;
    flex-grow:1;
    padding:10px;
}

footer ul,li{
    list-style-position: inside;
    margin:2px;
}

footer ul{
    padding-inline-start: 20px;
}

footer a{
    text-decoration:none;
    color :inherit;
}

footer a:hover{
    color:gold;
}

footer p{
    display:flex;
    margin:5px;
}